<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3C08DFB1FC54FC0003CC7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3C08E141FC54FC0003CC7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3C08E1F1FC54FC1003CC7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
